
<%= form_with model: user do |form| %>

  <p>名前</p>
  <%= form.text_area :name %>
  <%=  user.errors.full_messages_for(:name)[0]%>

  <p>フリガナ</p>
  <%= form.text_area :ruby %>
  <% user.errors.full_messages_for(:ruby).each do |message| %>
      <div>
        <%= message %><br>
      </div>
  <% end %>

  <%= form.submit %>

<% end %>
